
.timeView{
		height: 72rpx;
		line-height: 72rpx;
		padding-left: 36rpx;
		font-size: 26rpx;
		color: #b1b1b1;
		font-family: PingFangSC-Medium;
		background-color: #ffffff;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 100;
	}

	page{
		background-color: #f7f7f7;
	}
	
	.tabView{
		padding: 20rpx 24rpx 0rpx 24rpx;
		display: flex;
		position: relative;
	}
	.tabView .tabItem{
		flex: 1;
		text-align: center;
	}
	.tabView .tabItem .title{
		font-stretch: normal;
		letter-spacing: 0rpx;
		height: 34rpx;
		font-size: 24rpx;
		font-family: PingFangSC-Medium, PingFang SC;
		font-weight: 500;
		color: #000000;
		line-height: 34rpx;
		margin-bottom: 2rpx;
	}
	.tabView .tabItem.curr .title{
		color: #D81E1F;
	}
	.tabView .tabItem.curr .line{
		width: 48rpx;
		height: 4rpx;
		background: #D81E1F;
		border-radius: 2rpx;
		margin: auto;
	}
	.tabView .clip-line{
		position: absolute;
		width: 702rpx;
		height: 1rpx;
		background: #000000;
		opacity: 0.1;
		bottom: 2rpx;
	}
	.tabView .tabItem .icon{
		width: 52rpx;
		height: 8rpx;
		text-align: center;
		display: inline-block;
		position: relative;
		top: -16rpx;
	}
	.tabView .tabItem .icon image{
		width: 52rpx;
		height: 8rpx;
		display: inline-block;
		vertical-align: middle;
		position: absolute;
		left: 0;
	}
	.buytipsView{
		background-color: #ffb8b7;
		height: 72rpx;
		line-height: 72rpx;
	}
	.buytipsView .tipView{
		display: flex;
		padding: 0 36rpx;
	}
	.buytipsView .tipView .txt{
		flex: 1;
		font-size: 26rpx;
		font-family: PingFangSC-Medium;
		color: #ffffff;
	}
	.buytipsView .tipView .icon{
		width: 50rpx;
		text-align: right;
	}
	.questionView{
		margin-top: 42rpx;
		/* padding-bottom: 200rpx; */
	}
	.questionView .headView{
		display: flex;
		padding-left:36rpx;
		padding-right:30rpx;
	}
	.questionView .headView .red-block{
        width: 10rpx;
		height: 24rpx;
		position: relative;
		margin-right: 8rpx;
		margin-top: 10rpx;
	}
	.questionView .headView .queType{
		flex: 1;
		height: 40rpx;
		font-size: 28rpx;
		font-family: PingFangSC-Medium, PingFang SC;
		font-weight: 500;
		color: #000000;
		line-height: 40rpx;
	}
	.questionView .headView .countView{
		/* width: 150rpx; */
		text-align: right;
		display: inline-flex;
		height: 30rpx;
		font-size: 20rpx;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;
		color: rgba(0,0,0,0.5);
		line-height: 40rpx;
	}
	.questionView .headView .countView .prev{
		width: 30rpx;
		height: 30rpx;
		line-height: 40rpx;
		font-size: 0;
		text-align: left;
	}
	.questionView .headView .countView .prev image{
		width: 30rpx;
		height: 30rpx;
		display: inline-block;
		vertical-align: middle;
	}
	.questionView .headView .countView .process{
       margin:0 12rpx;
	}
	.questionView .headView .countView .next{
		width: 30rpx;
		height: 30rpx;
		line-height: 40rpx;
		font-size: 0;
		text-align: right;
	}
	.questionView .headView .countView .next image{
		width: 30rpx;
		height: 30rpx;
		display: inline-block;
		vertical-align: middle;
	}
	.questionView .imgView{
		margin-top: 32rpx;
		padding: 0 48rpx;
	}
	.questionView .imgView image{
		width: 100%;
	}
	.questionView .title{
		padding: 0 48rpx;
		margin-top: 24rpx;
		font-size: 32rpx;
		font-family: PingFangSC-Medium, PingFang SC;
		font-weight: 500;
		color: #000000;
		line-height: 70rpx;
	}
	.questionView .title .tips{
		display: inline;
		font-size: 26rpx;
		color: rgb(53,32,38,0.4);
		font-size: PingFangSC-Medium;
		line-height: 80rpx;
	}
	.questionView .title .inputTxt{
		border: 2rpx solid #e3e3e3;
		border-radius: 20rpx;
		background-color: #FFFFFF;
		height: 64rpx;
		line-height: 60rpx;
		max-width: 630rpx;
		min-width: 80rpx;
		width: 80rpx;
		padding: 0 30rpx;
		display: inline-block;
		margin: 0 20rpx;
		vertical-align: middle;
		font-size: 34rpx;
		font-weight: normal;
		color: #352026;
		font-size: PingFangSC-Medium;
	}
	.questionView .title .txt{
		border: 2rpx solid #e3e3e3;
		border-radius: 20rpx;
		background-color: #FFFFFF;
		height: 52rpx;
		line-height: 50rpx;
		padding: 0 0rpx;
		display: inline-block;
		margin: 0 4rpx;
		vertical-align: middle;
		font-size: 34rpx;
		font-weight: normal;
		color: #352026;
		font-size: PingFangSC-Medium;
		border-radius: 20rpx;
		text-align: center;
	}
	.questionView .title .txt.success{
		color: #32CD72;
		width: 52rpx;
		height: 52rpx;
		background: rgba(50, 205, 114, 0.15);
		border-radius: 8rpx;
		border: 2rpx solid rgba(50, 205, 114, 0.29);
	}
	.questionView .title .txt.error{
		color: #fa5151;
		width: 52rpx;
		height: 52rpx;
		background-color: #ffe8e8;
		border-radius: 8rpx;
		border: 2rpx solid #ffdfdf;
	}
	.questionView .options{
		padding: 0 0 20rpx;
		margin-top: -10rpx;
	}
	.actionView{
		/* margin-top: 50rpx; */
		width: 100%;
		padding: 30rpx;
		height: 140rpx;
		position: fixed;
		bottom: 0;
		padding-top: 8rpx;
		background-color: #fbfbfa;
	}
	.actionView button{
		width: 100%;
		height: 92rpx;
		border-radius: 46rpx;
		background-color: #ED3535;
		color: #ffffff;
		font-family: PingFangSC-Medium;
		font-size: 34rpx;
		border: 0;
	}
	.actionView button::after{
		border: 0;
	}
	.actionView button.noAnswer{
		opacity: 0.4;
		background-color: #ED3535;
	}
	.actionView button.hasAnswer{
		background-color: #ED3535;
	}
	.commentView{
		/* background-color: #FFFFFF; */
		border-radius: 46rpx;
		padding: 38rpx 48rpx;
		/* margin-top: 10rpx; */
		/* margin-bottom: 196rpx; */
		min-height: 572rpx;
	}
	.htmlView{
		background-color: #FFFFFF;
		padding: 36rpx 36rpx!important;
        box-shadow: 0rpx 0rpx 12rpx 0rpx rgba(0,0,0,0.09);
		border-radius: 26rpx;
	}
	.commentView.needbuy{
		padding: 0;
		position: absolute;
		width: 702rpx;
		left: 24rpx;
		background-color: unset;
	}
	.needbuy .bg{
		position: absolute;
		width: 702rpx;
		height: 572rpx;
	}
	.needbuy .bg image{
		width: 100%;
		height: 572rpx;
	}
	
	.commentView .rightAnswer{
		margin-right: 10rpx;
		height: 44rpx;
		font-size: 32rpx;
		font-family: PingFangSC-Medium, PingFang SC;
		font-weight: 500;
		color: #000000;
		line-height: 44rpx;
	}
	.commentView .comment{
		font-size: 26rpx;
		line-height: 42rpx;
		font-family: PingFangSC-Medium;
		font-weight: normal;
		font-stretch: normal;
		line-height: 54rpx;
		letter-spacing: 0rpx;
		color: #352026;
		margin-top: 14rpx;
	}
	.commentView .comment .accuracy{
		letter-spacing: 0rpx;
		color: rgba(0, 0, 0, 0.7);
		margin: 16rpx 0 36rpx 0;
		height: 40rpx;
		font-size: 28rpx;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;
		line-height: 40rpx;
	}
	.commentView .comment .accuracy .apercent{
		height: 40rpx;
		line-height: 40rpx;
		font-family: PingFangSC-Regular, PingFang SC;
		font-size: 28rpx;
		font-weight: 400;
		font-stretch: normal;
		letter-spacing: 0rpx;
		color: rgba(76, 192, 143, 0.95);
		display: flex;
	}
	.commentView .comment .accuracy .apercent .icon{
		width: 40rpx;height: 42rpx;line-height: 42rpx;font-size: 0;
	}
	.commentView .comment .accuracy .apercent.h{
		color: rgba(76, 192, 143, 0.95);
	}
	.commentView .comment .accuracy .apercent.m{
		color: #fbb955;
	}
	.commentView .comment .accuracy .apercent.l{
		color: #ED3535;
		opacity: 0.7;
	}
	.commentView .comment .accuracy .apercent image{
		width: 32rpx;
		height: 32rpx;
		display: inline-block;
		vertical-align: middle;
	}
	.commentView .comment .accuracy .atips{
		font-stretch: normal;
		letter-spacing: 0rpx;
		color: rgba(0, 0, 0, 0.4);
		height: 26rpx;
		font-size: 18rpx;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;
		margin-top:12rpx;
		line-height: 26rpx;
		text-align: right;
		flex: 1;
	}
	.actionView button.next{
		background-color: #FFFFFF;
		border: 2rpx solid #D81E1F;
		font-family: PingFangSC-Semibold, PingFang SC;
		color: #D81E1F;
	}
	.actionView .btnGroup{
		background-color: #FFFFFF;
		border: 2rpx solid #D81E1F;
		color: #D81E1F;
		height: 92rpx;
		line-height: 92rpx;
		border-radius: 46rpx;
		overflow: hidden;
		display: flex;
		font-size: 34rpx;
		font-family: PingFangSC-Semibold, PingFang SC;
	}
	.actionView .btnGroup .prev{
		display: inline-block;
		vertical-align: middle;
		margin: auto 0;
		width: 200rpx;
		/* margin-left: 30rpx; */
		background-color:#ffffff;
		border: 0;
		width: 286rpx;
		border-radius: 0;
		border-right: 1px solid rgba(216,30,31,0.3);
		color: #D81E1F;
		height: 48rpx;
		font-family: PingFangSC-Semibold, PingFang SC;
		font-weight: 600;
		opacity: 0.8;
		line-height: 48rpx;
	}
	.actionView .btnGroup .next{
		display: inline-block;
		vertical-align: middle;
		margin: auto 0;
		flex: 1;
		border: 0;
		color: #D81E1F;
		height: 48rpx;
		font-family: PingFangSC-Semibold, PingFang SC;
		font-weight: 600;
		opacity: 0.8;
		line-height: 48rpx;
	}
	.actionView .btnGroup .prev.disable,.actionView .btnGroup .next.disable{
		color: rgba(0, 0, 0, 0.3);
	}
	.buylView {
		width: 100%;
	}
	.buylView .title{
		font-size: 38rpx;
		font-weight: bold;
		font-family: PingFangSC-Medium;
		color: #352026;
	}
	.buylView .price{
		font-size: 34rpx;
		margin-top: 12rpx;
		font-family: PingFangSC-Medium;
		color: #ed3535;
	}
	.buylView .tips{		
		font-size: 26rpx;
		margin-top: 54rpx;
		font-family: PingFangSC-Medium;
		color: rgba(53,32,38,0.4);
	}
	.buylView .btnActions{
		margin-top: 96rpx;
	}
	.buylView .btnActions button{
		width: 100%;
		height: 92rpx;
		border-radius: 46rpx;
		background-color: #ED3535;
		color: #ffffff;
		font-family: PingFangSC-Medium;
		font-size: 34rpx;
	}
	.btnComments{
		display: inline-block;
		font-size: 24rpx;
		font-weight: 400;
		font-stretch: normal;
		letter-spacing: 0rpx;
		color: #000000!important;
		width: 254rpx;
		height: 62rpx;
		background-color: #FFFFFF!important;
		border-radius: 31rpx;
        font-family: PingFangSC-Regular, PingFang SC;
	}
	.btnComments view{
		font-family: PingFangSC-Regular,PingFang SC;
	}
	.btnComments::after{
		border: 0;
	}
	.vtips{
		text-align: right;
		font-stretch: normal;
		letter-spacing: 0rpx;
		color: rgba(0,0,0, 0.7);
		font-size: 18rpx;
		font-family: PingFangSC-Light, PingFang SC;
		font-weight: 300;
		line-height: 26rpx;
	}
	.imgView .imgItem{
		margin-bottom: 20rpx;
	}
	.head {
		padding-left: 36rpx;
		padding-top: 40rpx;
	}

